@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

:root {
    /*
    --color-dark1: #022b3a;
    --color-dark2: #1f7a8c;
    --color-light1: #e1e5f2;
    --color-light2: #ffffff;
    */
    --color-dark1: #483838;
    --color-dark2: #42855b;
    --color-light1: #f8f8f4;
    --color-light2: #ffffff;
}

body {
    min-width: 800px;
    font-family: "Montserrat";
}

/* HEADER STYLES */

.header {
    background-color: var(--color-dark1);
    color: var(--color-light2);

    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
#icon {
    margin-right: 10px;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s;
}
#icon:hover {
    color: var(--color-dark2);
}

.header .nav-links {
    list-style: none;
}
.header .nav-links li {
    display: inline-block;
    margin: auto 10px;
}
.header .nav-links a {
    color: var(--color-light2);
    text-decoration: none;
    transition: all 0.3s;
}
.header .nav-links a:hover {
    color: var(--color-dark2);
}

/* BODY STYLES */

main {
    background-color: var(--color-light1);
    padding: 20px;

    display: flex;
    justify-content: space-around;
}
/* MAP STYLE */
.mapContainer {
    width: 60%;
    height: auto;
}
#map {
    width: 100%;
    aspect-ratio: 1.5;
}

.statsContainer {
    text-align: center;
    background-color: var(--color-light2);
    width: 35%;
}

.select {
    padding: 10px;
    display: flex;
    justify-content: center;
}
select {
    padding: 7px 40px 7px 12px;
    width: 80%;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    transition: all 150ms ease;
}

.chartContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.chartContainer .variableStatus {
    margin: 4px 0;
    padding: 4px 0;
    width: 45%;
    min-width: 100px;
    border: 2px solid #483838;
    border-radius: 4%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.gaugeBox {
    margin: 0 auto;
    width: 80%;
    aspect-ratio: 1;
}